# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# VS Code
.vscode/

# Models
models/

# Outputs
outputs/

# Hugging Face Cache
hf_cache/

# Dataset Cache
data/cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store